###
 # GitIgnore file for Django Framework projects.
 # See https://git-scm.com/docs/gitignore for documentation.
 #
 # https://git.brandon-rodriguez.com/other/gitignore
 # Version 1.0.3
 ##


# Ignore system files.
.DS_Store
Thumbs.db


# Ignore environment settings.
.env/
.idea/
.venv/
.vs/
.vscode/
env/
idea/
venv/
vs/
vscode/


# Ignore python cache files.
*.pyc


# Ignore temporary files.
[Tt]mp/
[Tt]emp/
[Tt]empfiles/
[Tt]emp_files/
*.tmp
*.temp


# Ignore logfiles.
[Ll]og/
[Ll]ogs/
*.log
*.log.*


# Ignore development-related Django files.
DEBUG
*.sqlite3


# Ignore compiled CSS/JS files.
# (Assumes use of SASS. Remove *.css line if using standard CSS.)
node_modules/
*.css
*.css.map
*.sass-cache/


###
 # Project-specific ignores go below here.
 ##
